[Unit]
Description=vllm-omni TTS Server
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=300

[Container]
Image=ghcr.io/nickcao/jerry/tts:latest
ContainerName=tts
AddDevice=nvidia.com/gpu=all
Network=host
Environment=HF_HUB_OFFLINE=1
Notify=healthy
HealthCmd=curl -sf http://localhost:8001/health
HealthInterval=5s
HealthStartPeriod=120s
Exec=vllm serve --omni hexgrad/Kokoro-82M --port 8001

[Install]
WantedBy=default.target
